*{
    margin: none;

}
.title{
    text-align: center;
    font-size: 2em;
    color: rgb(134, 45, 0);
}
 body{
     background-color: #001933;
    }
    
    .cat{
        transform: rotateY(-45deg);
        display: flex;
        justify-content: center;
        padding: auto;
}
.cat img{
    transform: rotate3d(1, 1, 1, 120deg);
    width: 1920px;
    height: 744px;
}

.cat img:not(:hover){ 
    transform: rotate3d(1, 1, 1, 120deg);
    transition: transform 2s;
 }
.cat:hover img {
    transform: rotate3d(1, 1, 1, 0deg);
    transition: transform 2s;
    
}
